label{
    color:blue;
    position: centre;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.male{
    color: blue
}
div{
    text-align: center;
    

}
body{ background-color: turquoise;}


